* {
    font-family: Arial, Helvetica, sans-serif;
}

input:focus{ 
    outline: none; 
}

.titulo{
    text-align: center;
    font-weight: 900;
}

.inputTarefa{
    height: 60px;
    width: 50%;
    margin: 35px auto;
    position: relative;
    padding: 5px;
}

input {
    width: 98%;
    height: 52px;
    background: #A2A2A2;
    border: none;
    border-radius: 10px;
    font-size: 15pt;
    padding: 5px;
    position: relative;
}

button.adicionar {
    position: absolute;
    height: 62px;
    right: 0;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #808080;
    color: #FFFFFF;
    font-size: 15pt;
}

button.adicionar:hover{
    background: #236D0E;
}

.tarefas{
    position: relative;
    width: 60%;
    margin: 20px auto;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 5px;
}

h2.tarefas {
    width: 100%;
    background: #D4D4D4;
    border-radius: 10px;
}

button.remover{
    position: absolute;
    height: 50px;
    right: 0;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #909090;
}

button.remover:hover{
    background: #FF4C4C;
}

@media screen and (max-width: 1020px){

.inputTarefa{
    width: 100%;
  }

input{
    width: 95%;
    height: 52px;
}
    
}